body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url("New folder/4k Moon Wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Dubai",Bold, sans-serif;
  color: #ffffff;
  text-align: center;
  overflow-x: hidden;

  /* خلي العناصر بالنص */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Start Button */
#startBtn {
  padding: 15px 30px;
  font-size: 1.5em;
  background: #ffffff22;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  animation: pulse 2s infinite;
  z-index: 1; /* فوق النجوم */
}
#startBtn:hover {
  background: #ffffff44;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* Text */
.message {
  font-size: 1.3em;
  margin: 50px auto;
  max-width: 800px;
  white-space: pre-wrap;
  line-height: 1.8;
  z-index: 1;
}

/* Images */
.gallery {
  margin-top: 30px;
  display: block;
  text-align: center;
  z-index: 1;
}
.gallery img {
  max-width: 200px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255,255,255,0.7);
  opacity: 0;
  margin: 20px auto;
  transition: opacity 2s, transform 0.5s;
}
.gallery img.show {
  opacity: 1;
  transform: scale(1.05); /* تكبير خفيف عند الظهور */
}

/* Hearts */
.hearts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}
.heart {
  position: absolute;
  color: #ff3366;
  font-size: 24px;
  animation: float 6s linear infinite;
}

@keyframes float {
  0% {transform: translateY(100vh);}
  100% {transform: translateY(-10vh);}
}

/* Hidden Elements */
.hidden {
  display: none;
}

/* sky */
.sky {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
}

/* Stars */
.star {
  position: absolute;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 15px 5px #fff;
  animation: twinkle 2s infinite alternate;
}

/* لمعان النجوم */
@keyframes twinkle {
  from { opacity: 0.3; transform: scale(0.8); }
  to   { opacity: 1;   transform: scale(1.2); }
}